* {
    margin: 0px;
    padding: 0px;
    font-family: '微软雅黑';
}



.top {
    height: 100px;
}

.banner {
    height: 420px;
    background: url(images/banner2.png) no-repeat center #1c036b;
}

.content {
    height: 1210px;
    background-color: #f4f5f9;
}

.bottom {
    height: 420px;
}

.top .box {
    width: 1220px;
    height: 45px;
    margin: 30px auto;
}

.top .box .a1 {
    float: left;
    margin-right: 70px;
}

.top .box .a2 {
    float: left;
    margin-right: 70px;
}

.top .box .a3 {
    float: left;
    height: 40px;
}


.top .box .a2 a {
    font-size: 20px;
    color: #414244;
    padding: 10px;
    text-decoration: none;
    line-height: 45px;
    margin-right: 20px;
}

.top .box .a3 input {
    width: 360px;
    height: 37px;
    border: 1px solid #00a5ff;
    font-size: 18px;
    color: #ccc;
    padding-left: 20px;
}

.top .box .a3 img {
    float: right;
}

.top .box .a4 {
    float: right;
    color: #78797b;
    margin-right: 20px;
    height: 40px;
}

.top .box .a4 em {
    font-style: normal;
}

.banner .box2 {
    width: 1220px;
    margin: 0px auto;
}

.banner .box2 .b1 {
    float: left;
    width: 190px;
    background: rgb(0, 0, 0, .3);
}

.banner .box2 .b1 ul {
    list-style: none;
    margin: 30px 20px;
}

.banner .box2 .b1 li {
    width: 200px;
    height: 40px;
    line-height: 45px;
}

.banner .box2 .b1 a {
    font-size: 16px;
    font-family: '微软雅黑';
    color: #fff;
    text-decoration: none;
}

.banner .box2 a:hover {
    color: #00a5ff;
}

.banner .box2 .b2 {
    width: 230px;
    height: 300px;
    background-color: #ffff;
    float: right;
    margin: 50px 0px 70px 0px;
}

.banner .box2 .b2 .bb1 {
    height: 50px;
    background-color: #9bceeb;
}

.banner .b2 .bb1 h4 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.banner .b2 a {
    text-decoration: none;
    color: #414244;
    font-size: 14px;
}

.banner .b2 .bb4 {
    border-bottom: 0px;
}


.bh4 {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    display: inline-block;
}

.box-center {
    width: 190px;
    height: 35px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.gray {
    color: #ccc;
    font-size: 10px;
}

.banner .b2 .bb5 {
    width: 200px;
    height: 20px;
    border: 1px solid #00a5ff;
    margin: 10px;
    padding: 5px;
    color: #00a5ff;
    font: bold 16px '微软雅黑';
    text-align: center;
    line-height: 20px;
}

.banner .b2 h4:hover {
    color: #00a5ff;
}

.content .con1 {
    width: 190px;
    height: 425px;
    background-color: #fff;
    float: left;
}

.content .con1 ul {
    list-style: none;
    margin: auto auto;

}

.content .con1 ul li {
    margin-top: 20px;
    margin-left: 20px;
    height: 15px;
}

.content .con1 ul a {
    color: #414244;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    line-height: 40px;
}

.content .con1 ul a:hover {
    color: #00a5ff;
}


.content .title {
    width: 1200px;
    height: 65px;
    background-color: #ffffff;
    margin: 8px auto;
}

.content .title .t1 {
    width: 900px;
    height: 60px;
    float: left;
}

.content .title .t1 span {
    width: 120px;
    padding: 0px 30px;
    border-right: 1px solid #bfbfbf;
}

.content .title .t2 {
    float: right;
    height: 60px;
    margin: 0px 25px;
}

.content .title a {
    font: 16px '微软雅黑';
    color: #414141;
    text-decoration: none;
    line-height: 60px;
}

.content .title a:hover {
    color: #00a5ff;
}

.content .con2 {
    width: 1250px;
    margin: 0 auto;
}

.tt1 {
    font-size: 12px;
    color: #9a9b9d;
    float: right;
    padding: 5px 30px;
    margin-right: 30px;
}

.content .con2 .c1 {
    width: 1250px;
    height: 600px;
}

.h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: #4b4c4e;
}

.k {
    width: 230px;
    height: 270px;
    float: left;
    margin: 15px 15px 0px 0px;
    background-color: #ffffff;
    font-size: 14px;
}

.content .con2 .cc1 .img1 {
    width: 230px;
    height: 155px;
    background-image: url(images/pic.png);
}

.tag {
    float: right;
    margin-top: 5px;
}

.hight-20 {
    height: 35px;
    margin: 15px 20px;
}


.content .con2 .cc1 .k:hover {
    box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, .2);
}

.word-2 {
    padding-left: 20px;
}

.content .con2 .cc1 .img2 {
    width: 228px;
    height: 155px;
    background-image: url(images/pic_02.jpg);
}

.content .con2 .cc1 .img3 {
    width: 228px;
    height: 155px;
    background-image: url(images/pic_03.jpg);
}

.content .con2 .cc1 .img4 {
    width: 230px;
    height: 155px;
    background-image: url(images/pic_04.jpg);
}

.content .con2 .c2 {
    width: 1250px;
    height: 435px;
    margin: 30px 0px;
}

.content .con2 .c2 .lev {
    display: inline-block;
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

.content .con2 .c2 .lev a {
    font-size: 16px;
    padding: 0px 35px;
    text-decoration: none;
    color: #848587;
}

.content .con2 .c2 .lev a:hover {
    color: #00a5ff;
}

.r20 {
    float: left;
    margin: 15px 10px 0 0;
}

.bottom .dilan {
    width: 1160px;
    height: 155px;
    margin: 30px auto;
}

.bottom .dilan .dilan-left {
    float: left;
    width: 435px;
    height: 155px;
}

.bottom .dilan .dilan-right {
    float: right;
    height: 145px;

}

.bottom .dilan-left .jieshao {
    margin: 10px 0px;
    font-size: 12px;
    color: #707070;
    line-height: 20px;
}

.bottom .dilan-left button {
    text-align: center;
    padding: 5px 30px;
    height: 36px;
    font-size: 18px;
    color: #00a5ff;
    background: none;
    border: 1px solid #00a5ff;
}

.biaotou {
    font-size: 16px;
    color: #5e5e5e;
    font-family: '宋体';
    text-align: left;
    height: 30px;
}

.biao {
    font-size: 12px;
    font-family: '宋体';
    color: #333333;
}